@model Bibliotheek.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>
<p>Log hieronder in met de gegevens die verstrekt zijn tijdens het aanmaken van uw account.</p>
@using (Html.BeginForm("Login", "Account",
    new { ViewBag.ReturnUrl },
    FormMethod.Post, new { @id = "contact-form", @class = "row" }))
{
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Email)</td><td>@Html.TextBoxFor(model => model.Email, new { @class = "input-xlarge" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password)</td><td>@Html.TextBoxFor(model => model.Password, new { @class = "input-xlarge" })</td>
        </tr>
        <tr>
            <td></td><td><input type="submit" name="Login" value="Inloggen"/></td>
        </tr>
    </table>
}