@model Bibliotheek.Models.UserModel
@{
    ViewBag.Title = "Account overview";
}
<h1>Gebruiker : @ViewBag.Name</h1>
<p>Hieronder vind u informatie over uw account waaronder geleende boeken en uitstaande boetes.</p>
<p>Volgens ons systeem bent u een @ViewBag.Role</p>