<!DOCTYPE html>
<html>
    
    <head>
        <!-- Title -->
        <title>@ViewBag.Title - ASP.NET Bibliotheek</title>
        <!-- Style -->
		<link rel="stylesheet" href="/CSS/Reset.css"/>
		<link rel="stylesheet" href="/CSS/Layout.css"/>

    </head>
    
    <body>

        <div id="header-wrapper">
           <div id="header">

            </div>
        </div>
        
        <div id="content-wrapper">
            <div id="content">
                @RenderBody()
            </div>
        </div>

        <div id="footer-wrapper">
            <div id="footer">

            </div>
        </div>
    </body>
</html>