body {
}

#header {
    height:140px;
    width:960px;
    margin-left:auto;
    margin-right:auto;   
    background-color:white;
    box-shadow: 0 10px 30px 0px #000;
}

#header-wrapper {
    width:100%;
    height:200px;
    background-color:grey;
    background-image:url("/img/liverpool-dock.jpg");
    background-size:100% auto;
    background-position: center bottom; 
    background-repeat: no-repeat;
}

#content {
    top:-20px;
    position:relative;
    padding:20px;
    background-color:white;
    min-height:100px;
    width:920px;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 30px 30px 0px #999;
}

#content-wrapper {
    width:100%;
    background-color:white;
    margin-bottom:-40px;
}

#footer {
    
    height:100px;
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

#footer-wrapper {
    width:100%;
    background-color:darkgrey;
}
#login-form table{
    margin-top:10px;
    border-top:1px solid grey;
}
#login-form table tr td{
    padding:4px;
}
#login-form table tr td .error{
    color:white;
    background-color:red;
}
.input {
    display: block;
    width: 100%;
    min-height: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
    font-size:22px;
    color:grey;
    margin-bottom:8px;
}